.flash-box
.wrapper
  .chat-side
    = render partial: "side_header"
    = render partial: "side_groups"
  .chat-main
    = render partial: "main_header"
    = render partial: "main_messages"
    = render partial: "main_form"
