.flash-box
.wrapper
  .chat-side
    = render partial: "body/side_header"
    = render partial: "body/side_groups"
  .chat-main
    = render partial: "body/main_header", locals: { group: @group, users: @users }
    = render partial: "body/main_messages"
    = render partial: "body/main_form"
