.flash-box
.wrapper
  .chat-side
    = render partial: "side/side_header"
    = render partial: "side/side_groups"
  .chat-main
    = render partial: "main/main_header"
    = render partial: "main/main_messages"
    = render partial: "main/main_form"
